In [ ]:
# Day-3(May-05-2021)-Python_Fundamentals

In [ ]:
# Understanding the Variables in python

In [4]:
x=5
y=3
x+y

8

In [5]:
#Rules for declaring valiables

In [12]:
# Rule1: No namespacewhile declaring the variable name
#example:

FirstName="Rajesh"

print(FirstName)

Rajesh

In [13]:
#Rule2: A variable name should NOT start with Number
# Note: But we can have numbers in-between or at the end
# example:

Name1="Venkat"
One1two="Number in between variable name"

print(Name1)
print(One1two)

Venkat
Number in between variable name

In [ ]:
#Rule3: A variable name should not contain any special characters @$%&

In [14]:
# Introduction to data types in Python

    Name           Abbrevation 
1.  String         str
2.  list           list
3.  tuple          tuple
4.  dictionary     dict
5.  Numbers        integer -- int
                   Decimal -- float

IndentationError: unexpected indent (<ipython-input-14-c84156268b7e>, line 3)

In [ ]:
# Classification of Datatypes 
  Datatypes are classified into two types
  
  1. Mutable
  2. Immutable 

Mutable: Can be altered/modified
Immutable: Its fixed cant be altered/modified

In [ ]:
# Introduction to string datatypes

Defination: Is a series of characters enclosed in quotes

Classification: It is classified as immutable datatype
    
# How to define String

We can defne string in 3-different ways

1. Single Quotes
2. Double quotes
3. Triple quotes

Note: Any possible combination is allowed 
    
Example:

In [16]:
Name1='Rajesh'
Name2="Rajesh"
Name3='''Rajesh'''

print(Name1)
print(Name2)
print(Name3)

Rajesh
Rajesh
Rajesh

In [ ]:
# End of Day-3